html, body {
    margin: 0;
    padding: 0;
    background-color: #222222;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

a {
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 750px;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.save-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 80px;
    margin-left: 1rem;
}

.trigger-button {
    background-color: #2463df;
    color: #ffffff;
    border: 1px solid #6e9fff9e;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.settings-button span {
    margin-left: 4px;
    font-size: 16px;
}

.settings-button i {
    font-size: 16px;
}

.settings-button {
    background-color: #444444;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.title {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    width: auto;
    display: inline-block;
}

.title::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #ffffff;
    margin: 3px auto 0;
    width: 100%;
}

.title-wrapper {
    text-align: center;
    width: 100%;
}

.description {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin: 10px 0 0 0;
}

.custom-input {
    background-color: #333333;
    padding: 0.5rem 1rem;
    outline: none;
    width: 70%;
    color: #ffffff;
    border-radius: 0.5rem;
    border: 0;
    box-sizing: border-box;
    transition: background-color 100ms, border-color 100ms, color 100ms;
    -webkit-appearance: none;
    appearance: none;
}

.custom-input:focus,
.custom-input:focus-visible {
    border-color: #596A95;
    outline: none;
}

label {
    width: 30%;
    text-align: left;
    padding-right: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    line-height: 34px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 10px;
    letter-spacing: 2px;
}

.settings {
    display: none;
    flex-direction: column;
    gap: 15px;
    width: -webkit-fill-available;
    padding: 10px;
    background: #444444;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.settings.active {
    display: flex;
}

.settings-input {
    display: flex;
    flex-direction: row;
}

.icon-right {
    display: inline-block !important;
}

.icon-down {
    display: none !important;
}

.settings-button.open .icon-right {
    display: none !important;
}

.settings-button.open .icon-down {
    display: inline-block !important;
}
